#-------------------------------------------------------------------------------------------
#  Copyright (c) 2016-2025.  SupportVectors AI Lab
#
#  This code is part of the AI Lab Book companion repository.
#  It is released under the MIT License - see the LICENSE file at the repository root.
#
#  Copyright (c) 2016-2026 SupportVectors AI Lab.
#
#  Author: SupportVectors AI Training
#-------------------------------------------------------------------------------------------

#
# Since most our projects will need the configuration
# utility, this fixes the directory where to find them.
#
export BOOTCAMP_ROOT_DIR="<path_to_your_project_root_dir>"

#
# Project's Python executable path
# Points to the virtual environment's Python interpreter
#
export PROJECT_PYTHON="<path_to_your_project_root_dir>/.venv/bin/python"

#
# Precaution, needed for some IDEs
# to recognize that the main svlearn library code
# is in the src/ sub-directory
#
export PYTHONPATH="<path_to_your_project_root_dir>/src"

# The OpenAI Key (Replace with your own key)
export OPENAI_API_KEY=your-openai-key


# Uncomment below line to use a OpenAI hosted model for the glossary builder
# and comment the subsequent two lines that are using the self-hosted base url and the model name

#export LLM_MODEL=gpt-5-mini
export OPENAI_BASE_URL=http://10.0.10.70:8000/v1
export LLM_MODEL=openai/gpt-oss-20b

# Currently we can only use OpenAI hosted models because the web_search tool is not supported by the self-hosted models
export ESSAY_MODEL=gpt-5-mini

